.primary-bg {
    background-color: #086972;
  }
  
  .white-bg {
    background-color: white;
  }
  
  .black-bg {
    background-color: black;
  }
  
  .primary-txt {
    color: #086972 ;
  }
  
  .black-txt {
    color: #0d0c22;
  }
  
  .white-txt {
    color: white;
  }
  
  .grey-txt {
    color: #3d3d4e;
  }
  
  .second-bg {
    background-color: #5dade2;
  }