* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
}
  
img {
  width: 100%;
  height: auto;
  object-fit: cover;
 }
  
a {
  text-decoration: none;
  color: #086972;
}
  
button {
  border: 0;
  cursor: pointer;
}

.navbar {
  height: 92px;
  width: 100%;
  padding: 0 25px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  
}
  
.nav-logo{
  width: 280px; 
  height: auto; 
}

.nav-links {
  gap: 45px;
  font-size: 16px;
  font-weight: bold;
  justify-content: flex-end; 
  display: flex;
}

.parallax {
  background-image: url("https://static01.nyt.com/images/2017/12/08/travel/360-christ/360-christ-superJumbo.jpg");
  height: 100vh; 
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
}

.parallax-title {
  font-size: 48px; 
  color: aliceblue; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  z-index: 1; 
}

.wonders-section {
  text-align: center;
  margin-top: 50px;
  gap: 2px;
  flex: 1;
  z-index: 1;
}

.wonders-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px; 
  padding: 20px; 
  margin: 0 auto;
  max-width: 1200px; 
}

.wonder-box {
  background-color: #DBEAFE; 
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}

.wonder-image {
  width: 100%;
  height: auto;
  border-radius: 4px; 
  margin-bottom: 10px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #086972;
  font-weight: bolder;
  padding: 20px;
  border-radius: 60%;
  cursor: pointer;
  display: none;
  transition: background-color 0.3s;
}

.back-to-top:hover {
  background-color: #065f5a;
}




@media (max-width: 1200px) {
  .wonders-list {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 768px) {
  .wonders-list {
    grid-template-columns: repeat(2, 1fr); 
  }
  
  .nav-links {
    display: none; 
    flex-direction: column; 
    position: absolute;
    background-color: white;
    top: 92px;
    right: 0;
    width: 100%;
    gap: 15px;
    padding: 20px;
  }
  .nav-links.active {
    display: flex;
  }

  .wonders-section h1 {
    font-size: 36px; 
    margin-top: 100px; 
}
}

@media (max-width: 480px) {
  .wonders-list {
    grid-template-columns: 1fr;
  }
}