.flex {
    display: flex;
   
}

.row {
    flex-direction: row;
}
  
.column {
    flex-direction: column;
}
  
.center {
    align-items: center;
    justify-content: center;
}

/* Buttons */
.filled-btn {
    background-color: #086972;
    color: white;
    height: 45px;
    padding: 10px 25px;
    border-radius: 100px;
    font-weight: bold;
    transition: all 0.3s;
}
  
.filled-btn:hover {
    opacity: 0.7;
}

.footer{
    padding: 20px;
}

