.flex {
    display: flex;
   
}

.row {
    flex-direction: row;
}
  
.column {
    flex-direction: column;
}
  
.center {
    align-items: center;
    justify-content: center;
}

/* Buttons */
.filled-btn, .text-btn {
    height: 45px;
    padding: 10px 25px; 
    border-radius: 100px; 
    font-weight: bold; 
    transition: all 0.3s; 
    display: inline-flex; 
    align-items: center;
}

.filled-btn {
    background-color: #086972; 
    color: white; 
}

.filled-btn:hover {
    opacity: 0.7; 
}

.text-btn {
    background-color: transparent; 
    color: #086972; 
    border: 1px solid #086972;
}

.text-btn:hover {
    background-color: #086972; 
    color: white;
    opacity: 0.9;
}


.footer{
    padding: 30px;
}
