.wonder-detail-container {
    padding: 40px 20px; 
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative; 
}

.wonder-detail-card {
    border-radius: 12px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    padding: 30px;
    max-width: 800px; 
    margin: auto; 
    border: 1px solid white; 
    color: #086972;
}

.image-container {
    display: flex;
    overflow-x: auto; 
    padding: 10px;
}

.image-container img {
    width: 200px; 
    height: auto; 
    margin-right: 10px; 
    border-radius: 8px; 
    flex-shrink: 0; 
}

strong {
    color: #086972; 
}

.wonder-detail-card p {
    margin: 20px 0; 
    color: #333; 
    line-height: 1.6; 
}
